.content {
  margin-right: 1vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.options {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
.sub-menu-item {
  max-width: 250px;
  background-color: #a354c0;
}
.sub-menu-item:hover {
  background-color: #00000030;
}
.main {
  padding: .5vh .5vw;
  width: 100%;
  background: linear-gradient(45deg, #ffffff80, #ffffff50, #ffffff80);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid;
  border-radius: 15px;
  gap: 1vh;
}
.buttons-area {
  padding: 0 .5vw;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
.buttons-area button {
  padding: 4px 0;
  max-width: 290px;
  background: linear-gradient(#b4f88a, #02f85c50, #b4f88a);
}
.buttons-area button:hover {
  background: linear-gradient(#02f85c50,#01de5250, #02f85c50);
}
.entries {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5vw;
}
.equation {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1vw;
}
.equation input{  
  width: 13vw;
}
.content.hidden .main .entries .equation input {
  width: 6.7vw;
}

.solution {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.solution span{
  white-space: nowrap;
  display: flex;
  gap: 1vw;
}

@media screen and (max-width: 400px) {
  .options {
    flex-direction: column;
    gap: 1vh;
  }
  .buttons-area {
    width: 80%;
    flex-direction: column;
  }
  .solution span {
    flex-direction: column;
  }
}

@media screen and (min-width: 400px) and (max-width: 800px) {
  .content.hidden {
    width: 100%;
    display: flex;
  }
  .content.hidden .options {
    flex-direction: column;
    gap: 1vh;
  }
  .content.hidden .main .entries {
    font-size: small;
    text-align: center;
  }
  .content.hidden .main .entries .equation input {
    width: 6.4vw;
  }
}