@import url("./reset.css");
@import url("./menu.css");
@import url("./content.css");
@import url("./xSmallScreen.css");

.container {
  display: flex;
  align-items: center;
  gap: 1vw;
}

button {
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid;
  border-radius: 15px;
}
button:hover {
  outline-width: 1px;
  outline-style: solid;
}
button.deny {
  background: linear-gradient(#ff9e4f, #f8020250, #ff9e4f);
}
button.deny:hover{
  background: linear-gradient(#ff000040, #ff000030, #ff000040);
}

input {
  text-align: center;
  padding: 1px 4px;
  font-weight: 600;
  border: 2px solid;
  border-radius: 15px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h2 {
  text-align: center;
}
h3 {
  text-align: center;
}